.sign-up-error-page {
    background-image: url('../../images/sign-up-robot.png');
    background-repeat: no-repeat;
    background-size: 85% 80%;
    padding: 20px 95px 50px 30px;
    line-height: 28.8px;
    letter-spacing: 3%;
    margin-top: 0px;
    max-width: 395px;
    position: relative; 
}
.sign-up-error-page::before {
    content: "";
    background-image: url('../../images/sign-up-robman.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 163px;
    height: 231px;
    margin-top: 20px;
    position: absolute;
    right: -125px; 
}
.robot-container{
    padding-left: 50px;
}
@media only screen and (max-width: 991px){
    .sign-up-error-page::before {
        width: 91px;
        height: 200px;
        margin-top: 95px;
        right: -55px; }
    .sign-up-error-page{
        background-size: 90% 85%;
        padding: 30px 60px 70px 30px;
    }
    .robot-container{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 767px){
    .sign-up-error-page::before {
        width: 91px;
        height: 200px;
        margin-top: 60px;
        margin-bottom: 10px;
        right: -10px; }
    .sign-up-error-page{
        background-size: 80% 85%;
        padding: 30px 80px 50px 20px;
        margin-bottom: 20px;
    }
    .robot-container{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 380px){
    .sign-up-error-page::before {
        width: 81px;
        height: 165px;
        margin-top: 105px;
        right: -0px; }
    .sign-up-error-page{
        background-size: 75% 85%;
        padding: 30px 100px 70px 20px;
    }
    .robot-container{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 320px){
    .sign-up-error-page::before {
        width: 65px;
        height: 145px;
        margin-top: 125px;
        right: -5px; }
        .sign-up-error-page{
            background-size: 80% 85%;
            padding: 10px 60px 70px 15px;
        }
}
    
