.password-instruction {
    background-image: url('../../images/sign-up-robot.png');
    background-repeat: no-repeat;
    background-size: 90% 95%;
    padding: 30px 80px 40px 30px;
    line-height: 28.8px;
    letter-spacing: 3%;
    margin-top: 0px;
    max-width: 395px;
    position: relative; 
}
.password-instruction::before {
    content: "";
    background-image: url('../../images/sign-up-robman.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 163px;
    height: 231px;
    margin-top: 50px;
    position: absolute;
    right: -130px; 
}
.robot-container{
    padding-left: 50px;
}
@media only screen and (max-width: 991px){
    .password-instruction::before {
        width: 91px;
        height: 200px;
        margin-top: 145px;
        right: -50px; }
    .password-instruction{
        background-size: 90% 85%;
        padding: 30px 60px 80px 30px;
    }
    .robot-container{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 767px){
    .password-instruction::before {
        width: 91px;
        height: 200px;
        margin-top: 95px;
        right: -5px; }
    .password-instruction{
        background-size: 78% 85%;
        padding: 30px 100px 70px 20px;
        margin-bottom: 20px;
    }
    .robot-container{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 380px){
    .password-instruction::before {
        width: 81px;
        height: 165px;
        margin-top: 130px;
        right: -0px; }
    .password-instruction{
        background-size: 75% 85%;
        padding: 30px 90px 70px 20px;
    }
    .robot-container{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 320px){
    .password-instruction::before {
        width: 65px;
        height: 145px;
        margin-top: 210px;
        right: -10px; }
        .password-instruction{
            background-size: 80% 85%;
            padding: 10px 70px 90px 20px;
        }
}
    
