.item-section {
    background: white;
    border-radius: 20px;
    padding: 20px 0px 10px 20px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    margin-bottom: 15px;
    width: 100%;
}

.detail-info-head {
    font-size: 14px;
    font-weight: 600;
}

.item-child-div {
    width: 100%;
}

.table-alignment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.jarv-head {
    padding-right: 40px;
}

.phone-num-section small {
    font-size: 14px;
}

.phone-child-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.less-btn {
    border: 0.5px solid #FB3E3E;
    background: white;
    border-radius: 20px;
    padding: 0px 15px;
}

@media only screen and (max-width: 1024px) {
    .item-section {
        overflow-x: scroll;
    }

    .phone-child-div {
        width: 900px;
    }

    .item-child-div {
        width: 900px;
    }
}

.info-container {
    background: white;
    border-radius: 20px;
    width: 100%;
    padding: 15px 10px;
}

.user-info-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'b a u u l l l p e e d k';
    align-items: center;
    width: 100%;
}

.info-box {
    grid-area: b;
}

.info-author {
    grid-area: a;
}

.info-user {
    grid-area: u;
}

.info-location {
    grid-area: l;
}

.info-email {
    grid-area: e;
}

.info-download-btn {
    grid-area: d;
    display: flex;
    justify-content: center;
}

.info-up-btn {
    grid-area: p;
    display: flex;
    justify-content: center;
}

.info-plus-btn {
    grid-area: k;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .info-container {
        overflow-x: scroll;
    }

    .user-info-container {
        width: 900px;
    }

    .user-info-wraper {
        overflow-x: scroll;
    }

    .search-two-container {
        width: 900px;
    }
}

.search-two-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'b a u u u e e e v v c f';
    align-items: center;
}

.search-two-container.box {
    grid-area: b;
}

.search-two-container.search-author {
    grid-area: a;
}

.search-two-container.search-user {
    grid-area: u;
}

.search-two-container.search-email {
    grid-area: e;
}

.search-two-container.search-view-btn {
    grid-area: v;
}

.search-two-container.search-close-btn {
    grid-area: c;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    align-items: center;
}

.search-two-container.search-flag-btn {
    grid-area: f;
}

.user-info-wraper {
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.ask-jarv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'r r r r r r r r r r j j';
}

.related-slider {
    grid-area: r;
}

.jarv {
    grid-area: j;
    height: 180px;
    width: 125px;
    padding: 10px;
    margin-left: 20px;
}

.unlock-btn {
    background: #F1F1F1;
    border-radius: 8px;
    margin: 0px 5px;
    padding: 8px 20px;
}

.export-btn {
    background: #FFE3E3;
    border-radius: 8px;
    margin: 0px 5px;
    padding: 8px 20px;
}

.user-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'b a u u u u e e e v v c';
    align-items: center;
    width: 900px;
}

.box {
    grid-area: b;
}

.search-author {
    grid-area: a;
}

.search-user {
    grid-area: u;
}

.search-email {
    grid-area: e;
}

.search-view-btn {
    grid-area: v;
}

.search-close-btn {
    grid-area: c;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    align-items: center;
}

.search-user p {
    font-size: 18px;
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}

.search-user small {
    font-size: 12;
}

.blur {
    color: transparent;
    text-shadow: 0 0 8px #000;
}

@media only screen and (max-width: 991px) {
    .jarv {
        height: 170px;
        width: 95px;
        padding-right: 10px;
    }
}

.top-search {
    background: #FFE3E3;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

.number-align {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    color: white;
    background: #FB3E3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

#UpgradeModal {
    padding: 30px;
    z-index: 999999;
}

#UpgradeModal #mydrop {
    border: 1px dashed #FF6464;
    padding: 40px 22px;
    border-radius: 15px;
}

#UpgradeModal .btn-close {
    float: right;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 22222;
    position: relative;
    filter: brightness(0) invert(1);
}

#UpgradeModal .modal-dialog {
    margin-top: 40vh;
    pointer-events: unset;
}

#UpgradeModal .modal-dialog .modal-header {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 6px 15px 0;
    background-color: #fff;
    margin-bottom: 10px;
    z-index: 999999;
}

#UpgradeModal .modal-dialog .modal-content {
    padding: 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 6px 15px 0;
}

#UpgradeModal .modal-dialog .modal-content .dz-message {
    text-align: center;
}

#UpgradeModal .modal-dialog .modal-content .dz-button {
    color: #232323;
    margin-bottom: 15px;
}

#UpgradeModal .modal-dialog .modal-content .note {
    background-color: #FF6464;
    padding: 5px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 5px;
    display: inline-block;
}

.radio-bg {
    background: #FFF2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 5px 10px;
}

.radio-bg input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 1px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

.radio-bg input[type="radio"]:checked {
    background-color: #FB3E3E;
}

.dropdown-wraper {
    padding: 10px;
}  