.info-container{
    background: white;
    border-radius: 20px;
    width: 100%;
    padding: 15px 10px ;
  }
  .user-info-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'b a u u l l l e e d p k';
    align-items: center;
    width: 900px;
  }
  .info-box{
      grid-area: b;
  }
  .info-author{
    grid-area: a;
  }
  .info-user{
    grid-area: u;
  }
  .info-location{
   grid-area: l;
  }
  .info-email{
    grid-area: e;
  }
  .info-download-btn{
    grid-area: d;
    display: flex;
    justify-content: center;
  }
  .info-up-btn{
    grid-area: p;
    display: flex;
    justify-content: center;
  }
  .info-plus-btn{
    grid-area: k;
    display: flex;
    justify-content: center;
  }
  @media only screen and (max-width: 991px){
    .info-container{
      overflow-x: scroll;
    }
    .user-info-wraper{
      overflow-x: scroll;
    }
  }
.search-two-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'b a u u u e e e v v c f';
    align-items: center;
    width: 900px;
  }
.search-two-container.box{
    grid-area: b;
}
.search-two-container.search-author{
  grid-area: a;
}
.search-two-container.search-user{
  grid-area: u;
}
.search-two-container.search-email{
  grid-area: e;
}
.search-two-container.search-view-btn{
  grid-area: v;
}
.search-two-container.search-close-btn{
  grid-area: c;
  display: flex;
  justify-content: center;
  padding-right: 5px;
  align-items: center;
}
.search-two-container.search-flag-btn{
    grid-area: f;
  }
.user-info-wraper{
  background: white;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}