.admin-head{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 60px;
    text-align: center;
    padding: 10px;
    margin: 20px 0px;
}
.user-all{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 64px;
    width: 100%;
    padding: 5px;
}
.input-control{
    border: none;
    outline: none;
    margin-left: 17px;
}
.admin-user-wraper{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-top: 25px;
    width: 100%;
}
.admin-user-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'a a u u e e e p p d d d';
    align-items: center;
}
.admin-pass{
    grid-area: p;   
}
.admin-author{
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-user{
  grid-area: u;
}
.admin-email{
  grid-area: e;
}
.admin-delete-btn{
  grid-area: d;
  display: flex;
  justify-content: center;
 align-items: center;
}
.admin-delete-btn a{
    color: white;
    background: #FB3E3E;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 64px;
    padding: 5px 15px;
}
.common-div{
    background: #EDEDED;
    border-radius: 2px;
    margin-bottom: 5px;
}
.common-div-wraper{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px 15px 10px 15px;
}
.user-stats{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 60px;
    text-align: center;
    padding: 10px;
    margin: 20px 0px;
}
.recomandation{
    background: #FFF2F2;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 200px;
}
